.footer {
  width: 100%;
  box-shadow: 5px 0px 10px gray;
  z-index: 9999;
  background-color: lightgray;

  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  height: 64px;
  box-shadow: none;

  nav {
    display: flex;
    justify-content: center;
  }
  a {
    height: 100%;
    width: 120px;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: #525252;
    text-decoration: none;

    &:hover,
    &.active {
      color: black;
    }
  }
}

.lang {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  select {
    padding: 5px;
  }
}
